# R0 Analysis of COVID-19
22 March 2020

Cecilia García López de Munain

## Libraries

In [1]:
import pandas as pd
import numpy as np
import os, sys
import matplotlib.pyplot as plt
import pickle

## Parameters

In [2]:
sys.path.append('./')

In [3]:
PATH_ROOT_INTERIM_DATA = 'data\\interim'
INTERIM_DATA_NAME = 'covid_19_data_cum.pkl'

## Import Data

In [4]:
covid19_data = pickle.load(open(os.path.join(PATH_ROOT_INTERIM_DATA,INTERIM_DATA_NAME), "rb" ))

In [5]:
covid19_data.head()

,Day,Month,Year,NewConfCases,NewDeaths,CountryExp,GeoId,NewConfCases_cum,NewDeaths_cum,Population,Population Density
DateRep,,,,,,,,,,,
2019-12-31,31,12,2019,0,0,North_Macedonia,MK,0,0,NaN,NaN
2019-12-31,31,12,2019,0,0,Azerbaijan,AZ,0,0,9942334.0,120.265320
2019-12-31,31,12,2019,0,0,Singapore,SG,0,0,5638676.0,7952.998418
2019-12-31,31,12,2019,0,0,Brazil,BR,0,0,209469333.0,25.061716
2019-12-31,31,12,2019,0,0,Kuwait,KW,0,0,4137309.0,232.172222

In [6]:
covid19_data.columns

Index(['Day', 'Month', 'Year', 'NewConfCases', 'NewDeaths', 'CountryExp',
       'GeoId', 'NewConfCases_cum', 'NewDeaths_cum', 'Population',
       'Population Density'],
      dtype='object')

In [7]:
# Not studying conveyance Japan so dropping it 
covid19_data = covid19_data.loc[covid19_data['CountryExp'] != 'Cases on an international conveyance Japan',:]