In [222]:
import os
import pandas as pd
import numpy as np
import datetime as dt
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt

# Upload Data

In [223]:
PATH_ROOT_INPUT_DATA = r'C:\Users\g.martinez.bidal\Desktop\Coronavirus\COVID-19\csse_covid_19_data\csse_covid_19_daily_reports'

PATH_ROOT_INTERIM_DATA = 'data\\interim'
INTERIM_DATA_NAME = 'covid_19_fulldata.pkl'
files = []
for r, d, f in os.walk(PATH_ROOT_INPUT_DATA):
    for file in f:
        if '.csv' in file:
            files.append(os.path.join(r, file))

dfs_list = []
dfs_us_list = []
for file in files:
    df = pd.read_csv(os.path.join(file))
    if "Country_Region" in df.keys():
        dfs_us_list.append(df)
    else:
        dfs_list.append(df)

covid19_full_data = pd.concat(dfs_list, axis=0, ignore_index=True, sort=True)
covid19_after_full_data = pd.concat(dfs_us_list)

# Type 1 Data

In [224]:
covid19_full_data.sort_values("Last Update").head()

,Confirmed,Country/Region,Deaths,Last Update,Latitude,Longitude,Province/State,Recovered
0,1.0,Mainland China,NaN,1/22/2020 17:00,NaN,NaN,Anhui,NaN
21,1.0,Mainland China,NaN,1/22/2020 17:00,NaN,NaN,Ningxia,NaN
22,NaN,Mainland China,NaN,1/22/2020 17:00,NaN,NaN,Qinghai,NaN
23,NaN,Mainland China,NaN,1/22/2020 17:00,NaN,NaN,Shaanxi,NaN
24,2.0,Mainland China,NaN,1/22/2020 17:00,NaN,NaN,Shandong,NaN

In [225]:
covid19_full_data.sort_values("Last Update").tail()

,Confirmed,Country/Region,Deaths,Last Update,Latitude,Longitude,Province/State,Recovered
7361,525.0,US,1.0,2020-03-21T23:13:18,42.2302,-71.5301,Massachusetts,0.0
7352,659.0,US,13.0,2020-03-21T23:13:18,27.7663,-81.6868,Florida,0.0
7584,1.0,Cape Verde,0.0,2020-03-21T23:43:02,15.1111,-23.6167,NaN,0.0
7601,1.0,Uganda,0.0,2020-03-21T23:43:02,1.0000,32.0000,NaN,0.0
7597,1.0,Papua New Guinea,0.0,2020-03-21T23:43:02,-6.3150,143.9555,NaN,0.0

In [226]:
covid19_full_data["Last Update"] = pd.to_datetime(covid19_full_data["Last Update"])

In [227]:
covid19_full_data[covid19_full_data["Country/Region"] == "Mainland China"].sort_values("Last Update")

,Confirmed,Country/Region,Deaths,Last Update,Latitude,Longitude,Province/State,Recovered
0,1.0,Mainland China,NaN,2020-01-22 17:00:00,NaN,NaN,Anhui,NaN
34,10.0,Mainland China,NaN,2020-01-22 17:00:00,NaN,NaN,Zhejiang,NaN
33,1.0,Mainland China,NaN,2020-01-22 17:00:00,NaN,NaN,Yunnan,NaN
32,NaN,Mainland China,NaN,2020-01-22 17:00:00,NaN,NaN,Xinjiang,NaN
30,NaN,Mainland China,NaN,2020-01-22 17:00:00,NaN,NaN,Tibet,NaN
...,...,...,...,...,...,...,...,...
4530,576.0,Mainland China,6.0,2020-03-10 23:53:02,30.0572,107.8740,Chongqing,547.0
4925,0.0,Mainland China,0.0,2020-03-11 02:18:28,36.0611,103.8343,Gansu,0.0
5146,0.0,Mainland China,0.0,2020-03-11 02:18:28,36.0611,103.8343,Gansu,0.0
4926,0.0,Mainland China,0.0,2020-03-11 02:18:29,38.0428,114.5149,Hebei,0.0
5147,0.0,Mainland China,0.0,2020-03-11 02:18:29,38.0428,114.5149,Hebei,0.0

In [228]:
covid19_full_data[covid19_full_data["Country/Region"] == "China"].sort_values("Last Update")

,Confirmed,Country/Region,Deaths,Last Update,Latitude,Longitude,Province/State,Recovered
7586,1.0,China,0.0,2020-03-11 02:18:14,31.6927,88.0924,Tibet,1.0
7516,18.0,China,0.0,2020-03-11 02:18:14,35.7452,95.9956,Qinghai,18.0
5980,76.0,China,3.0,2020-03-11 02:18:14,41.1129,85.2401,Xinjiang,73.0
4975,174.0,China,2.0,2020-03-11 02:18:14,24.9740,101.4870,Yunnan,170.0
6042,18.0,China,0.0,2020-03-11 02:18:14,35.7452,95.9956,Qinghai,18.0
...,...,...,...,...,...,...,...,...
7365,504.0,China,8.0,2020-03-21 05:13:04,40.1824,116.4142,Beijing,396.0
7392,273.0,China,4.0,2020-03-21 09:13:14,22.3000,114.2000,Hong Kong,98.0
7313,67800.0,China,3139.0,2020-03-21 10:13:08,30.9756,112.2707,Hubei,58946.0
7329,1400.0,China,8.0,2020-03-21 12:43:08,23.3417,113.4244,Guangdong,1325.0
7515,18.0,China,0.0,2020-03-21 22:13:24,22.1667,113.5500,Macau,10.0

## son lo mismo pero le cambiaron el nombre a partir de el 11 de marzo los cambio al concatenar todo

In [230]:
covid19_full_data[covid19_full_data["Country/Region"] == "Mainland China"].sort_values("Last Update")

,Confirmed,Country/Region,Deaths,Last Update,Latitude,Longitude,Province/State,Recovered
0,1.0,Mainland China,NaN,2020-01-22 17:00:00,NaN,NaN,Anhui,NaN
34,10.0,Mainland China,NaN,2020-01-22 17:00:00,NaN,NaN,Zhejiang,NaN
33,1.0,Mainland China,NaN,2020-01-22 17:00:00,NaN,NaN,Yunnan,NaN
32,NaN,Mainland China,NaN,2020-01-22 17:00:00,NaN,NaN,Xinjiang,NaN
30,NaN,Mainland China,NaN,2020-01-22 17:00:00,NaN,NaN,Tibet,NaN
...,...,...,...,...,...,...,...,...
4530,576.0,Mainland China,6.0,2020-03-10 23:53:02,30.0572,107.8740,Chongqing,547.0
4925,0.0,Mainland China,0.0,2020-03-11 02:18:28,36.0611,103.8343,Gansu,0.0
5146,0.0,Mainland China,0.0,2020-03-11 02:18:28,36.0611,103.8343,Gansu,0.0
4926,0.0,Mainland China,0.0,2020-03-11 02:18:29,38.0428,114.5149,Hebei,0.0
5147,0.0,Mainland China,0.0,2020-03-11 02:18:29,38.0428,114.5149,Hebei,0.0

In [231]:
covid19_full_data = covid19_full_data[["Province/State", "Country/Region", "Last Update", "Latitude",
                                       "Longitude", "Confirmed", "Deaths", "Recovered"]]

In [232]:
covid19_full_data["Confirmed"].fillna(0, inplace=True)
covid19_full_data["Deaths"].fillna(0, inplace=True)
covid19_full_data["Recovered"].fillna(0, inplace=True)

In [233]:
covid19_full_data.head()

,Province/State,Country/Region,Last Update,Latitude,Longitude,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,2020-01-22 17:00:00,NaN,NaN,1.0,0.0,0.0
1,Beijing,Mainland China,2020-01-22 17:00:00,NaN,NaN,14.0,0.0,0.0
2,Chongqing,Mainland China,2020-01-22 17:00:00,NaN,NaN,6.0,0.0,0.0
3,Fujian,Mainland China,2020-01-22 17:00:00,NaN,NaN,1.0,0.0,0.0
4,Gansu,Mainland China,2020-01-22 17:00:00,NaN,NaN,0.0,0.0,0.0

In [234]:
covid19_full_data["Last Update"] = pd.to_datetime(covid19_full_data["Last Update"]).dt.date

In [235]:
covid19_full_data.sort_values("Last Update")

,Province/State,Country/Region,Last Update,Latitude,Longitude,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,2020-01-22,NaN,NaN,1.0,0.0,0.0
21,Ningxia,Mainland China,2020-01-22,NaN,NaN,1.0,0.0,0.0
22,Qinghai,Mainland China,2020-01-22,NaN,NaN,0.0,0.0,0.0
23,Shaanxi,Mainland China,2020-01-22,NaN,NaN,0.0,0.0,0.0
24,Shandong,Mainland China,2020-01-22,NaN,NaN,2.0,0.0,0.0
...,...,...,...,...,...,...,...,...
7416,NaN,Bulgaria,2020-03-21,42.7339,25.4858,163.0,3.0,3.0
7414,South Carolina,US,2020-03-21,33.8569,-80.9450,171.0,3.0,0.0
7413,NaN,Serbia,2020-03-21,44.0165,21.0059,171.0,1.0,1.0
7420,Virginia,US,2020-03-21,37.7693,-78.1700,156.0,2.0,0.0
7359,NaN,Poland,2020-03-21,51.9194,19.1451,536.0,5.0,1.0

# Type 2 Data

In [236]:
covid19_after_full_data.sort_values("Last_Update")

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
3232,NaN,NaN,Qinghai,China,2/23/20 11:19,35.7452,95.9956,18,0,18,0,"Qinghai, China"
3231,NaN,NaN,Tibet,China,2/23/20 11:19,31.6927,88.0924,1,0,1,0,"Tibet, China"
3238,NaN,NaN,Qinghai,China,2020-02-23 11:19:02,35.7452,95.9956,18,0,18,0,"Qinghai, China"
2300,NaN,NaN,Tibet,China,2020-02-23 11:19:02,31.6927,88.0924,1,0,1,0,"Tibet, China"
2282,NaN,NaN,Qinghai,China,2020-02-23 11:19:02,35.7452,95.9956,18,0,18,0,"Qinghai, China"
...,...,...,...,...,...,...,...,...,...,...,...,...
3204,NaN,NaN,NaN,Taiwan*,3/22/20 8:11,23.7000,121.0000,169,2,28,139,Taiwan*
3202,NaN,NaN,Hubei,China,3/22/20 9:33,30.9756,112.2707,67800,3144,59433,5223,"Hubei, China"
3203,NaN,NaN,Hong Kong,China,3/22/20 9:33,22.3000,114.2000,317,4,100,213,"Hong Kong, China"
3230,NaN,NaN,Anhui,China,3/8/20 5:19,31.8257,117.2264,990,6,984,0,"Anhui, China"
3229,NaN,NaN,Xinjiang,China,3/8/20 5:31,41.1129,85.2401,76,3,73,0,"Xinjiang, China"

In [237]:
covid19_after_full_data.sort_values("Last_Update")

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
3232,NaN,NaN,Qinghai,China,2/23/20 11:19,35.7452,95.9956,18,0,18,0,"Qinghai, China"
3231,NaN,NaN,Tibet,China,2/23/20 11:19,31.6927,88.0924,1,0,1,0,"Tibet, China"
3238,NaN,NaN,Qinghai,China,2020-02-23 11:19:02,35.7452,95.9956,18,0,18,0,"Qinghai, China"
2300,NaN,NaN,Tibet,China,2020-02-23 11:19:02,31.6927,88.0924,1,0,1,0,"Tibet, China"
2282,NaN,NaN,Qinghai,China,2020-02-23 11:19:02,35.7452,95.9956,18,0,18,0,"Qinghai, China"
...,...,...,...,...,...,...,...,...,...,...,...,...
3204,NaN,NaN,NaN,Taiwan*,3/22/20 8:11,23.7000,121.0000,169,2,28,139,Taiwan*
3202,NaN,NaN,Hubei,China,3/22/20 9:33,30.9756,112.2707,67800,3144,59433,5223,"Hubei, China"
3203,NaN,NaN,Hong Kong,China,3/22/20 9:33,22.3000,114.2000,317,4,100,213,"Hong Kong, China"
3230,NaN,NaN,Anhui,China,3/8/20 5:19,31.8257,117.2264,990,6,984,0,"Anhui, China"
3229,NaN,NaN,Xinjiang,China,3/8/20 5:31,41.1129,85.2401,76,3,73,0,"Xinjiang, China"

In [238]:
covid19_after_full_data.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
0,36061.0,New York City,New York,US,3/22/20 23:45,40.767273,-73.971526,9654,63,0,0,"New York City, New York, US"
1,36059.0,Nassau,New York,US,3/22/20 23:45,40.740665,-73.589419,1900,4,0,0,"Nassau, New York, US"
2,36119.0,Westchester,New York,US,3/22/20 23:45,41.162784,-73.757417,1873,0,0,0,"Westchester, New York, US"
3,36103.0,Suffolk,New York,US,3/22/20 23:45,40.883201,-72.801217,1034,9,0,0,"Suffolk, New York, US"
4,36087.0,Rockland,New York,US,3/22/20 23:45,41.150279,-74.025605,455,1,0,0,"Rockland, New York, US"

In [239]:
covid19_after_full_data = covid19_after_full_data.drop(['FIPS', 'Admin2', 'Combined_Key', 'Active'], axis=1)

In [240]:
covid19_after_full_data = covid19_after_full_data.rename(columns={"Country_Region":"Country/Region",
                                                            "Province_State":"Province/State",
                                                           "Lat":"Latitude",
                                                            "Long_":"Longitude",
                                                            "Last_Update": "Last Update"
                                                           })

In [241]:
covid19_after_full_data.head()

,Province/State,Country/Region,Last Update,Latitude,Longitude,Confirmed,Deaths,Recovered
0,New York,US,3/22/20 23:45,40.767273,-73.971526,9654,63,0
1,New York,US,3/22/20 23:45,40.740665,-73.589419,1900,4,0
2,New York,US,3/22/20 23:45,41.162784,-73.757417,1873,0,0
3,New York,US,3/22/20 23:45,40.883201,-72.801217,1034,9,0
4,New York,US,3/22/20 23:45,41.150279,-74.025605,455,1,0

In [242]:
covid19_after_full_data.tail()

,Province/State,Country/Region,Last Update,Latitude,Longitude,Confirmed,Deaths,Recovered
2804,NaN,West Bank and Gaza,2020-04-06 23:21:55,31.952200,35.233200,254,1,24
2805,NaN,Western Sahara,2020-04-06 23:21:55,24.215500,-12.885800,4,0,0
2806,NaN,Zambia,2020-04-06 23:21:55,-13.133897,27.849332,39,1,5
2807,NaN,Zimbabwe,2020-04-06 23:21:55,-19.015438,29.154857,10,1,0
2808,Wyoming,US,2020-04-06 23:22:15,NaN,NaN,0,0,0

In [243]:
covid19_after_full_data["Last Update"] = pd.to_datetime(covid19_after_full_data["Last Update"]).dt.date

# Starting Concat

In [290]:
covid19_full_data.sort_values("Last Update")

,Province/State,Country/Region,Last Update,Latitude,Longitude,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,2020-01-22,NaN,NaN,1.0,0.0,0.0
21,Ningxia,Mainland China,2020-01-22,NaN,NaN,1.0,0.0,0.0
22,Qinghai,Mainland China,2020-01-22,NaN,NaN,0.0,0.0,0.0
23,Shaanxi,Mainland China,2020-01-22,NaN,NaN,0.0,0.0,0.0
24,Shandong,Mainland China,2020-01-22,NaN,NaN,2.0,0.0,0.0
...,...,...,...,...,...,...,...,...
7416,NaN,Bulgaria,2020-03-21,42.7339,25.4858,163.0,3.0,3.0
7414,South Carolina,US,2020-03-21,33.8569,-80.9450,171.0,3.0,0.0
7413,NaN,Serbia,2020-03-21,44.0165,21.0059,171.0,1.0,1.0
7420,Virginia,US,2020-03-21,37.7693,-78.1700,156.0,2.0,0.0
7359,NaN,Poland,2020-03-21,51.9194,19.1451,536.0,5.0,1.0

In [293]:
covid19_after_full_data.sort_values("Last Update")

,Province/State,Country/Region,Last Update,Latitude,Longitude,Confirmed,Deaths,Recovered
3245,Tibet,China,2020-02-23,31.692700,88.092400,1,0,1
3230,Qinghai,China,2020-02-23,35.745200,95.995600,18,0,18
3248,Tibet,China,2020-02-23,31.692700,88.092400,1,0,1
3238,Qinghai,China,2020-02-23,35.745200,95.995600,18,0,18
2619,Tibet,China,2020-02-23,31.692700,88.092400,1,0,1
...,...,...,...,...,...,...,...,...
938,Mississippi,US,2020-04-06,30.418302,-89.488510,30,1,0
939,Ohio,US,2020-04-06,41.002505,-83.668389,14,0,0
940,Tennessee,US,2020-04-06,36.526929,-83.223758,0,0,0
932,South Carolina,US,2020-04-06,32.774196,-81.138456,3,0,0
2808,Wyoming,US,2020-04-06,NaN,NaN,0,0,0

In [294]:
full_data = pd.concat([covid19_full_data, covid19_us_full_data], axis=0, ignore_index=True, sort=True)

In [295]:
full_data = full_data[["Province/State", "Country/Region", "Last Update", "Latitude",
                                       "Longitude", "Confirmed", "Deaths", "Recovered"]]

In [296]:
full_data = full_data.rename(columns={"Last Update":"DateRep"})

In [300]:
#Simplemente vambia de nombre
covid19_full_data.replace({"China": "Mainland China"})

,Province/State,Country/Region,Last Update,Latitude,Longitude,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,2020-01-22,NaN,NaN,1.0,0.0,0.0
1,Beijing,Mainland China,2020-01-22,NaN,NaN,14.0,0.0,0.0
2,Chongqing,Mainland China,2020-01-22,NaN,NaN,6.0,0.0,0.0
3,Fujian,Mainland China,2020-01-22,NaN,NaN,1.0,0.0,0.0
4,Gansu,Mainland China,2020-01-22,NaN,NaN,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
7612,NaN,Jersey,2020-03-17,49.1900,-2.110,0.0,0.0,0.0
7613,NaN,Puerto Rico,2020-03-17,18.2000,-66.500,0.0,0.0,0.0
7614,NaN,Republic of the Congo,2020-03-17,-1.4400,15.556,0.0,0.0,0.0
7615,NaN,The Bahamas,2020-03-19,24.2500,-76.000,0.0,0.0,0.0
7616,NaN,The Gambia,2020-03-18,13.4667,-16.600,0.0,0.0,0.0

In [302]:
#full_data["DateRep"] = full_data["DateRep"] -dt.timedelta(days=1)

In [326]:
full_data = full_data.groupby(["Country/Region","DateRep"]).sum().reset_index()

In [327]:
full_data["Day of supose contagios"] = full_data["DateRep"] - dt.timedelta(days=15)

In [ ]:
full_data

In [307]:
full_data = full_data.set_index("DateRep")

In [308]:
full_data = full_data.groupby(["Country/Region", "DateRep"]).sum().reset_index().set_index("DateRep").sort_values(["Country/Region","DateRep"])

In [309]:
full_data.head()

           Country/Region  Latitude  Longitude  Confirmed  Deaths  Recovered
DateRep
2020-02-27     Azerbaijan       0.0        0.0        1.0     0.0        0.0
2020-02-23    Afghanistan     231.0      455.0       13.0     0.0        0.0
2020-03-07    Afghanistan      66.0      130.0        8.0     0.0        0.0
2020-03-09    Afghanistan      33.0       65.0        5.0     0.0        0.0
2020-03-10    Afghanistan      99.0      195.0       21.0     0.0        0.0

In [310]:
full_data2 = full_data.copy()
full_data2["Confirmed_cum"] = full_data.groupby("Country/Region")["Confirmed"].cumsum()
full_data2["Deaths_cum"] = full_data.groupby("Country/Region")["Deaths"].cumsum()
full_data2["Recovered_cum"] = full_data.groupby("Country/Region")["Recovered"].cumsum()

In [311]:
full_data2.sort_values(["Country/Region", "DateRep"])

,Country/Region,Latitude,Longitude,Confirmed,Deaths,Recovered,Confirmed_cum,Deaths_cum,Recovered_cum
DateRep,,,,,,,,,
2020-02-27,Azerbaijan,0.0000,0.0000,1.0,0.0,0.0,1.0,0.0,0.0
2020-02-23,Afghanistan,231.0000,455.0000,13.0,0.0,0.0,13.0,0.0,0.0
2020-03-07,Afghanistan,66.0000,130.0000,8.0,0.0,0.0,21.0,0.0,0.0
2020-03-09,Afghanistan,33.0000,65.0000,5.0,0.0,0.0,26.0,0.0,0.0
2020-03-10,Afghanistan,99.0000,195.0000,21.0,0.0,0.0,47.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
2020-03-18,Zambia,-39.4017,83.5479,6.0,0.0,0.0,8.0,0.0,0.0
2020-03-19,Zimbabwe,-20.0000,30.0000,1.0,0.0,0.0,1.0,0.0,0.0
2020-03-20,Zimbabwe,-19.0154,29.1549,3.0,0.0,0.0,4.0,0.0,0.0
2020-03-09,occupied Palestinian territory,31.9522,35.2332,25.0,0.0,0.0,25.0,0.0,0.0
2020-03-10,occupied Palestinian territory,191.7132,211.3992,0.0,0.0,0.0,25.0,0.0,0.0

In [312]:
full_data2["activos"] = full_data2["Confirmed_cum"] -full_data2["Deaths_cum"] - full_data2["Recovered_cum"]

In [313]:
full_data2[full_data2["Country/Region"] == "Italy"].head()

,Country/Region,Latitude,Longitude,Confirmed,Deaths,Recovered,Confirmed_cum,Deaths_cum,Recovered_cum,activos
DateRep,,,,,,,,,,
2020-01-30,Italy,0.0,0.0,14.0,0.0,0.0,14.0,0.0,0.0,14.0
2020-02-06,Italy,0.0,0.0,42.0,0.0,0.0,56.0,0.0,0.0,56.0
2020-02-20,Italy,0.0,0.0,20.0,1.0,0.0,76.0,1.0,0.0,75.0
2020-02-21,Italy,0.0,0.0,62.0,2.0,1.0,138.0,3.0,1.0,134.0
2020-02-22,Italy,0.0,0.0,155.0,3.0,2.0,293.0,6.0,3.0,284.0

In [314]:
full_data2 = full_data2.rename(columns={"Confirmed":"NewConfCases", "Deaths":"NewDeaths", "Country/Region":"CountryExp",
                           "Confirmed_cum":"NewConfCases_cum", "Deaths_cum":"NewDeaths_cum", "Last Update":"DateRep"})

In [315]:
full_data2.reset_index().CountryExp.unique

<bound method Series.unique of 0                           Azerbaijan
1                          Afghanistan
2                          Afghanistan
3                          Afghanistan
4                          Afghanistan
                     ...
2308                            Zambia
2309                          Zimbabwe
2310                          Zimbabwe
2311    occupied Palestinian territory
2312    occupied Palestinian territory
Name: CountryExp, Length: 2313, dtype: object>

In [316]:
da = full_data2[full_data2.CountryExp == "Mainland China"]

In [317]:
da

,CountryExp,Latitude,Longitude,NewConfCases,NewDeaths,Recovered,NewConfCases_cum,NewDeaths_cum,Recovered_cum,activos
DateRep,,,,,,,,,,
2020-01-21,Mainland China,0.0000,0.0000,547.0,17.0,28.0,547.0,17.0,28.0,502.0
2020-01-22,Mainland China,0.0000,0.0000,639.0,18.0,30.0,1186.0,35.0,58.0,1093.0
2020-01-23,Mainland China,0.0000,0.0000,916.0,26.0,36.0,2102.0,61.0,94.0,1947.0
2020-01-24,Mainland China,0.0000,0.0000,1399.0,42.0,39.0,3501.0,103.0,133.0,3265.0
2020-01-25,Mainland China,0.0000,0.0000,2062.0,56.0,49.0,5563.0,159.0,182.0,5222.0
2020-01-26,Mainland China,0.0000,0.0000,2863.0,82.0,58.0,8426.0,241.0,240.0,7945.0
2020-01-27,Mainland China,0.0000,0.0000,5494.0,131.0,101.0,13920.0,372.0,341.0,13207.0
2020-01-28,Mainland China,0.0000,0.0000,6070.0,133.0,120.0,19990.0,505.0,461.0,19024.0
2020-01-29,Mainland China,0.0000,0.0000,8124.0,171.0,135.0,28114.0,676.0,596.0,26842.0
2020-01-30,Mainland China,0.0000,0.0000,9812.0,213.0,216.0,37926.0,889.0,812.0,36225.0
2020-01-31,Mainland China,0.0000,0.0000,11852.0,259.0,273.0,49778.0,1148.0,1085.0,47545.0
2020-02-01,Mainland China,0.0000,0.0000,16606.0,361.0,463.0,66384.0,1509.0,1548.0,63327.0
2020-02-02,Mainland China,0.0000,0.0000,19692.0,425.0,614.0,86076.0,1934.0,2162.0,81980.0
2020-02-03,Mainland China,0.0000,0.0000,23713.0,490.0,844.0,109789.0,2424.0,3006.0,104359.0
2020-02-04,Mainland China,0.0000,0.0000,27436.0,562.0,1120.0,137225.0,2986.0,4126.0,130113.0
2020-02-05,Mainland China,0.0000,0.0000,30562.0,632.0,1482.0,167787.0,3618.0,5608.0,158561.0
2020-02-06,Mainland China,0.0000,0.0000,34056.0,717.0,1995.0,201843.0,4335.0,7603.0,189905.0
2020-02-07,Mainland China,0.0000,0.0000,36759.0,804.0,2592.0,238602.0,5139.0,10195.0,223268.0
2020-02-08,Mainland China,0.0000,0.0000,39890.0,904.0,3240.0,278492.0,6043.0,13435.0,259014.0
2020-02-09,Mainland China,0.0000,0.0000,42226.0,1011.0,3894.0,320718.0,7054.0,17329.0,296335.0
2020-02-10,Mainland China,0.0000,0.0000,44268.0,1111.0,4630.0,364986.0,8165.0,21959.0,334862.0
2020-02-11,Mainland China,316.9270,880.9240,44726.0,1116.0,5106.0,409712.0,9281.0,27065.0,373366.0
2020-02-12,Mainland China,0.0000,0.0000,59939.0,1370.0,6262.0,469651.0,10651.0,33327.0,425673.0
2020-02-13,Mainland China,0.0000,0.0000,66183.0,1518.0,7922.0,535834.0,12169.0,41249.0,482416.0
2020-02-14,Mainland China,0.0000,0.0000,68452.0,1662.0,9352.0,604286.0,13831.0,50601.0,539854.0
2020-02-15,Mainland China,0.0000,0.0000,70357.0,1765.0,10701.0,674643.0,15596.0,61302.0,597745.0
2020-02-16,Mainland China,0.0000,0.0000,72345.0,1863.0,12441.0,746988.0,17459.0,73743.0,655786.0
2020-02-17,Mainland China,0.0000,0.0000,74138.0,2002.0,14198.0,821126.0,19461.0,87941.0,713724.0
2020-02-18,Mainland China,0.0000,0.0000,74563.0,2114.0,15967.0,895689.0,21575.0,103908.0,770206.0
2020-02-19,Mainland China,0.0000,0.0000,74980.0,2236.0,17985.0,970669.0,23811.0,121893.0,824965.0
2020-02-20,Mainland China,357.4520,959.9560,75957.0,2238.0,19140.0,1046626.0,26049.0,141033.0,879544.0
2020-02-21,Mainland China,0.0000,0.0000,76741.0,2439.0,22544.0,1123367.0,28488.0,163577.0,931302.0
2020-02-22,Mainland China,0.0000,0.0000,77065.0,2445.0,23253.0,1200432.0,30933.0,186830.0,982669.0
2020-02-23,Mainland China,0.0000,0.0000,77154.0,2595.0,24979.0,1277586.0,33528.0,211809.0,1032249.0
2020-02-24,Mainland China,0.0000,0.0000,77620.0,2661.0,27625.0,1355206.0,36189.0,239434.0,1079583.0
2020-02-25,Mainland China,0.0000,0.0000,77991.0,2715.0,30011.0,1433197.0,38904.0,269445.0,1124848.0
2020-02-26,Mainland China,26.8154,106.8748,79155.0,2752.0,33397.0,1512352.0,41656.0,302842.0,1167854.0
2020-02-27,Mainland China,0.0000,0.0000,78421.0,2784.0,35979.0,1590773.0,44440.0,338821.0,1207512.0
2020-02-28,Mainland China,37.2692,106.1655,79068.0,2831.0,39135.0,1669841.0,47271.0,377956.0,1244614.0
2020-02-29,Mainland China,984.6935,3300.6332,79846.0,2872.0,42132.0,1749687.0,50143.0,420088.0,1279456.0
2020-03-01,Mainland China,1110.9647,3802.5376,80745.0,2918.0,45401.0,1830432.0,53061.0,465489.0,1311882.0
2020-03-02,Mainland China,1075.9526,3626.0540,80566.0,2951.0,47807.0,1910998.0,56012.0,513296.0,1341690.0
2020-03-03,Mainland China,875.6606,2935.7362,80031.0,2981.0,49665.0,1991029.0,58993.0,562961.0,1369075.0
2020-03-04,Mainland China,1110.7751,3742.4730,80683.0,3022.0,52609.0,2071712.0,62015.0,615570.0,1394127.0
2020-03-05,Mainland China,1163.2160,3900.0445,82188.0,3046.0,55521.0,2153900.0,65061.0,671091.0,1417748.0
2020-03-06,Mainland China,891.5365,3071.9471,80461.0,3072.0,55317.0,2234361.0,68133.0,726408.0,1439820.0
2020-03-07,Mainland China,1137.9703,3788.7995,84987.0,3162.0,61516.0,2319348.0,71295.0,787924.0,1460129.0
2020-03-08,Mainland China,638.8810,2188.5303,76995.0,3072.0,55095.0,2396343.0,74367.0,843019.0,1478957.0
2020-03-09,Mainland China,628.0361,2167.6243,77201.0,3088.0,56620.0,2473544.0,77455.0,899639.0,1496450.0
2020-03-10,Mainland China,148.2078,436.6984,0.0,0.0,0.0,2473544.0,77455.0,899639.0,1496450.0

In [318]:
da = full_data2[full_data2["NewConfCases_cum"].astype(int)>0]
da = da[da.CountryExp == "Mainland China"]

In [319]:
da.index.min()

datetime.date(2020, 1, 21)

In [320]:
full_data2.index.min()

datetime.date(2020, 1, 21)

In [321]:
full_data2["NewConfCases_cum"].astype(int)

DateRep
2020-02-27     1
2020-02-23    13
2020-03-07    21
2020-03-09    26
2020-03-10    47
              ..
2020-03-18     8
2020-03-19     1
2020-03-20     4
2020-03-09    25
2020-03-10    25
Name: NewConfCases_cum, Length: 2313, dtype: int32

# Export

In [322]:
import pickle
path = r"C:\Users\g.martinez.bidal\Desktop\Coronavirus\Ceci\covid_19\data\interim"
file_name = r"data_V2_for_change_in_exponential_growth.pkl"
with open(os.path.join(path,file_name), 'wb') as f:
    pickle.dump(full_data2, f)